.paper {
    transform: rotateZ(-5deg);
    position: absolute;

}

.message {
    min-height: 10vh;
    width: 50vh;
    background-image: url(images/message.png);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 6px 5px 16px 1px black;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-transform: capitalize;
    overflow: auto;
    user-select: none;
    text-align: center;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background1.1jpg.jpg);
}

img {
   height: 30vh;
   width: 30vh;
    user-select: none;
}